
.tree{
  --spacing : 1.5rem;
  --radius  : 10px;
}


.tree ul{
  list-style: none;
  padding-left: 2px;
  
}

.tree li{
  padding-left: 3px;
  display: block;
  position: relative;
  cursor: pointer;
}

.tree ul li{
   border-left : 1px dashed #000; 
 
}

